/************ 
TAG STYLES
 ************/

html,body{
	width: 100%;
 	height: 100%;
}

button {
	background-color: #0068FF;
	border: none;
	color: white;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-size: 12px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
	margin: 0;
	overflow: hidden;}
	button:hover, button:active {
		color: #FAF000;
	}
	button:active {
		font-size: 11px;
	}

/************************
PANEL STYLES
************************/
#panel{
	width: 100vw;
	height: 225px;
	background-color: gray;
}

.expanded{
	display: block;
}

.collapsed{
	/*display: none;*/
}
/************************
CREATIVE CONTENT STYLES
************************/
#container {
	position: relative;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color: #b3c8e6;
}
 
.creativeVersion {
	position: absolute;
	top: 5px;
	left: 0px;
	font-size: 11px;
}

.customJSVersion {
	position: absolute;
	top: 20px;
	left: 220px;
	font-size: 11px;
}

#play-button{
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	width: 7%;
	height: 10%;
	bottom: 1%;
	left: 1%;
	cursor: pointer;
	z-index: 10;
}

.video-paused{
	background-image: url(../images/pause_button.png);
}

.video-playing{
	background-image: url(../images/play_button.png);
}

#audio-button{
	position: absolute;
	width: 7%;
	height: 10%;
	top: 1%;
	left: 1%;
	cursor: pointer;
	z-index: 10;
}

.audio-mute{
	background-image: url(../images/audio_mute.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.audio-unmute{
	background-image: url(../images/audio_unmute.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#clickthrough-button{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
	background-color:transparent;
}

#close-button{
	position: absolute;
	width: 15%;
	height: 12%;
	top: 1%;
	right: 1%;
	background-image: url(../images/close.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
	z-index: 10;
}

#video-container{
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0;
	left: 0;
}

#replay-button{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	background-image: url(../images/replay_button.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	cursor: pointer;
}

video{
	width: 100%;
	height: 100%;
	display: block;
}

@media screen and (max-width: 400px){
    #clickthrough-button {
        font-size: 12px;
    }
}

@media screen and (max-width: 300px){
    #clickthrough-button {
        font-size: 9px;
    }

    #clickthrough-button:active {
		font-size: 8px;
	}
}
