.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.15);
}

.navbar-inverse .navbar-brand {
    color: #515151;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    font-weight: 600;
    background-color: #054682;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #515151;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #515151;
    background-color: #515151;
    background-color: rgba(0, 0, 0, 0.08);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #054682;
    color: #ffffff;
}

.navbar {
    font-size: 16px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        font-size: 10px;
    }
    .navbar-brand {
        font-size: 10px;
        margin-right: -5px;
    }
}

@media (min-width: 992px) and (max-width: 1120px) {
    .navbar {
        font-size: 13px;
    }
    .navbar-brand {
        font-size: 13px;
    }
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #054682;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: #054682;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #515151;
    }
}


.navbar-inverse .navbar-nav>li>a {
    color: #515151;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #515151;
}

.value-box {
    padding: 6px 0 6px 0;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.value-box > .inner {
    padding: 5px 10px 5px 10px;
}

.value-box .caption {
    font-size: 20px;
}

.value-box .icon i {
    color: rgba(255, 255, 255, 0.4);
}

.chart-wrapper, .nav-tabs-custom, .sbframe-commentary {
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12);
    padding: 15px 15px 15px 15px;
}

.chart-title {
    color: #054682;
    font-weight: 700;
    border-bottom: solid;
    padding: 7px 10px 15px;
    border-bottom-color: #97b5cf;
    font-size: 16px;
}

.bg-primary {
    background-color: #97b5cf;
}

.navbar-author {
    display: none;
}

.leaflet-container {
    background-color: rgba(255, 0, 0, 0.0);
}

.value-box .inner {
    text-align: center;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.14;
}
