@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	}

img {
    width: 100%;
    height: auto;
	max-width:100%;
	text-align:center;
	align-content:center;
}
/*FORMATO 320*/
@media (max-width:400px) {
.formato-320 {display:block}
.formato-1024 {display:none}
.formato-1920 {display:none}
}


/*FORMATO 1024*/
@media screen and (min-width:400px) and (max-width:1100px){
.formato-1024 {display:block}
.formato-1920 {display:none}
.formato-320 {display:none}

}


/*FORMATO 1920*/
@media screen and (min-width:1100px) {
.formato-1920 {display:block}
.formato-1024 {display:none}
.formato-320 {display:none}

}
