body
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
}

html, body {
    /*color: #8A8985;
    font-family: 'Helvetica Neue' , Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: url("images/fondo.png") repeat-x scroll 0 0;
    padding:0;
    margin:0;*/
    background: url("imagenes/fondo_material.png") repeat scroll 0 0;
    background-color: #FF6E2B;
    color: #8A8985;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

header {
    height: 179px;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

.fuente_generica {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.fondo_tapizado {
    /*background: url("imagenes/fondo2.png") repeat-x scroll 0 0 #EBEBEB;*/
    background-color: #b1b1b1;
}

h1, h2, h3, h4, h5 {
  color: #FF6E2B;
  font-weight:normal;
  padding:0;
  margin:0;
}

h2
{
    font-size: 26px;
    background-color: #FF6E2B;
    color: #FFFFFF;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    
}

h5
{
    font-size: 12px;
}

.h4_muy_grande {
  font-size:28px;
}

.h4_grande {
    font-size: 18px;
}

.h5_alternativo
{
    color: #8A8985;
    margin-left: 5px;
}

.Tabla_Contenedora_Pagina, .Tabla_Contenedora_Pagina_No_Borde, .Tabla_Contenedora_Pagina_Servicios, .Tabla_Contenedora_Pagina_Sencilla {
    border-spacing: 5px;
    background-color: White;
    background: white;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    /*margin-bottom: 20px;*/
    padding-bottom: 20px;
}

.Tabla_Contenedora_Pagina
{
    border-spacing: 30px 0;
}

.capas_centradas_ancho_folio
{
    clear: both;
    margin-left: auto;
    margin-right: auto;   
    width: 990px;
}

.Tabla_Contenedora_Pagina {
    padding-top: 179px;
    background-color: #f7ede5;
}

.Tabla_Contenedora_Pagina_Servicios, .Tabla_Contenedora_Pagina_No_Borde
{
    padding-top: 179px;
}

.sombra_lateral {
	/*box-shadow: -30px 0 0px 0px #88888833, 30px 0 0px -0px #88888833;*/
}

.sombra_perimetral {
    /*box-shadow: 0 0 50px -50px #888888;*/
    /*box-shadow: 0 0 20px -2px #888888 !important;*/
    /*-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);*/
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
}

.Tablas_datos
{
    width: 100%;
    margin-top: 5px;
    text-align: left;
}

.Tablas_datos_cabecera
{
    /*height: 80px;*/
}


.Titulo_Fila
{    
    margin-bottom:10px;
    font-size:28px;
    color:#FF6E2B;
    text-align: left;
    font-weight:normal;
    
}

.titulo_celda {
    background-color: #FFFFFF;
    /*color: White;*/
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    letter-spacing: 1.5px;
    /*font-style: italic;*/
    font-weight: bold;
    text-align: center;
    -moz-border-bottom-left-radius: 1.5px;
    -moz-border-bottom-right-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    /*-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);*/
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.titulo_celda_superior
{
    color: White;   
    /*font-style: italic;*/
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.celda_superior_servicios {
    background-color: #FF6E2B;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
    -moz-border-top-left-radius: 1.5px;
    -moz-border-top-right-radius: 1.5px;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    height: 22px;
}

.titulo_celda_recto {
    background-color: #FF6E2B;
    color: #FFFFFF;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.Zona_Visualizacion_1_Altura {
    height: 423px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Zona_Visualizacion_2_Alturas {
    height: 486px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titulo_Visualizacion
{
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
}

.fila_cabecera
{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #f36e33;
    text-align: center;
}

.fila_pie
{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #f36e33;
    text-align: center;
}

.primera_columna_datos
{
    text-align: left;
}

.columna_normal_datos
{
    text-align: right;
}

.Celda_conRow
{
    vertical-align: top;
    text-align: center;
    
}
    
.Subtitulo_indicador
{
    width: 100%;
    border-top-color: #FF6E2B;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 12px;
    padding-top: 4px;
    border-spacing: 0px;
}

.Subtitulo_indicador tbody
{
    width: 100%;
}

.Subtitulo_indicador td
{
    height: 10px;
}

.Subtitulo_indicador tr
{
    height: 10px;
}


.columna_izquierda {
  text-align:left;
  width:90%;
}

.columna_derecha {
  text-align:right;
  width:10px;
}

.negativos_ie {
  white-space:nowrap;
}

.columna_estrecha {
  padding-right:2px;
  white-space:nowrap;
  width:8%;
}

.columna_ancha {
  white-space:nowrap;
  width:92%;
}

.negrita {
    font-weight: bold;
}

.negrita_color {
    font-weight: bold;
    color: #FF6E2B;
}

.columna_centro {
  text-align:right;
}

.texto_muy_grande {
  font-size:25px;
}

.representacion_visualizacion, .representacion_visualizacion_larga, .representacion_visualizacion_no_center
{
    /*border: 1px solid #E6E6E6;*/
    
    vertical-align: middle;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);

}

.representacion_visualizacion_no_center {
    -moz-border-bottom-left-radius: 1.5px;
    -moz-border-bottom-right-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    vertical-align: top;
    padding: 5px;

}

.representacion_visualizacion, .representacion_visualizacion_larga {
    -moz-border-top-left-radius: 1.5px;
    -moz-border-top-right-radius: 1.5px;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    vertical-align: top;
    padding: 5px;
    text-align: center;
}

.representacion_visualizacion_larga #Capa_Mapa_Interactivo {
    margin-top: 55px;
    margin-bottom: 50px;
}

.celda_tipo_fila_1 {
    width: 800px;
}

.celda_tipo_fila_1 .clase_capa_unidad_visualizacion, .celda_tipo_fila_2 .clase_capa_unidad_visualizacion, .celda_sin_estilos .clase_capa_unidad_visualizacion {
    -moz-border-top-left-radius: 1.5px;
    -moz-border-top-right-radius: 1.5px;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

/* fondo para 1 Fila, 2 Columnas, 1 Completa con estilos */
.celda_tipo_fila_1 .Zona_Visualizacion_1_Altura_Ancho {
    -moz-border-top-left-radius: 1.5px;
    -moz-border-top-right-radius: 1.5px;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.celda_tipo_fila_2 {
    width: 400px;
}

.representacion_visualizacion img
{
    /*margin-left: 40px;
    margin-right: 40px;*/
}

.zona_mas_info {
    vertical-align: middle;
    background-color: #f6f6f6;
    /*border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;*/
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    /*-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);*/
    height: 24px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.zona_mas_info img {
    -webkit-filter: blur(0.75px); /* Safari 6.0 - 9.0 */
    -webkit-filter: blur(0.75px);
    -moz-filter: blur(0.75px);
    -o-filter: blur(0.75px);
    -ms-filter: blur(0.75px);
    filter: url(#blur);
    filter: blur(0.75px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0.75');
    -webkit-transition: 0.5s -webkit-filter linear;
    -o-transition: 0.5s -o-filter linear;
    opacity: .35;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.zona_mas_info:hover {
    background-color: #eceaea;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
        
}

.zona_mas_info:hover img {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
    filter: blur(0px);
    opacity: 1;
}

.celda_leyenda_mapa_tematico {
    text-align: center;
    padding-left: 50px;
}

.Globo_MapaSVG
{
    color: #8A8985;
    font-family: 'Helvetica Neue' , Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: repeat-x scroll 0 0 #EBEBEB;
    
    fill:#FBFBFB;
    stroke:#FF6E2B;
    stroke-width:2;
    opacity:1;
    fill-opacity:0.95;
    
}

.texto_Globo_MapaSVG
{
    fill-color: #00FF00;
    fill: #00FF00;
    fill-opacity: 1;
    font-weight: bold;
}

.texto_contenido {
  font-size:13px;
  line-height:17px;
  /*margin:8px 0 10px;*/
  margin-bottom: 2px;
  text-align:justify;
}

.texto_contenido_grande_parrafo {
    font-size: 15px;
    line-height: 19px;
    margin: 14px;
    margin-bottom: 2px;
    text-align: justify;
}

/* * * * * * * * * * * * * * * * CABECERA * * * * * * * * * * * * * * */

#conjunto_cabecera
{
    background-color: #ffffff;
    box-shadow: 0px 0px 70px 1px #888888;
}

#cabecera {
    background-color: #ffffff;
    height: 80px;
    padding-top: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#contenido_cabecera {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    
}

#logotipo, #capa_texto_seleccion_territorio {
    /*float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    
    margin-left: auto;
    margin-right: auto;
    
    padding-right: 0;
    padding-top: 0;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/
    margin-left: auto;
    margin-right: auto;
    width: 159px;
    padding-right: 0;
    padding-top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logotipo_grande
{
    height: 100%;
    display: inherit;
    
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
    
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/
}

#logotipo_pequeno
{
    height: 0%;
    display: none;
    
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
    
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/
}

#capa_indice
{
    width: 30%;
    text-align: right;
    float: left;
}

#capa_seleccion_territorios
{
    width: 60%;
    /*text-align: center;*/
    float: left;
}

#capa_mas_informacion
{
    width: 10%;
    /*margin-right: 10px;*/
    float: right;
}

#caja_interior_indice, #caja_interior_indice_categorias, #caja_interior_mas_informacion
{
    margin-top: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 10px;
    float: left;
}

#caja_interior_indice_categorias
{
    background: url('imagenes/icono_desplegar_abajo.png') no-repeat;
    background-size: 15px;
    background-position: center 29px;
    height: 35px;
}

#caja_interior_mas_informacion
{
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
}

#icono_indice, #icono_indice_categorias
{
    margin-left: 5px;
    margin-right: 5px;
}

#texto_indice
{
    margin-left: 10px;
    margin-right: 5px;
}

#capa_listado_indice, #capa_contenido_mas_informacion, .mas_informacion_servicio
{
    position: fixed;
}

#uc_cabecera_capa_texto_seleccion_territorio
{
    width: 50%;
    float: left;
}
#uc_cabecera_selector_territorio
{
    width: 50%;
    float: left;
}

#capa_texto_seleccion_territorio 
{
    width: 62.5%;
    text-align: right;
    float: left;
}

header.smaller #controlesCabecera {
    clear: both;
    position: relative;
    top: -60px;
    width: 100%;
    height: 1px;
    padding-top: 0px;
    border: 0;
    background-color: Transparent;
    float: right;
}

header.smaller #capa_indice, header.smaller #capa_mas_informacion {
    float: left;
}

header.smaller #capa_indice {
    width: auto;
    float: right;
}

header.smaller #capa_mas_informacion {
    width: auto;
    float: right;
}

header.smaller #caja_interior_indice_categorias {
    height: 22px;
    padding-top: 0px;
    margin-top: 0px;
    background-position: center 26px;
}

header.smaller #caja_interior_mas_informacion {
    width: 25px;
    padding-top: 0px;
    margin-top: 0px;
}

header.smaller #caja_interior_indice {
    /*width: 40px;
    height: 30px;
    padding-top: 4px;*/
    height: 22px;
    padding-top: 0px;
    margin-top: 0px;
    background-position: center 26px;
}

header.smaller #icono_indice {
    width: 26%;
    height: 10%;
    margin-left: 0px;
    margin-top: 1px;
    margin-bottom: 2px;
}

header.smaller #icono_indice_categorias {
    width: 11%;
    height: 11%;
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 3px;
}

header.smaller #icono_mas_informacion {
    width: 70%;
    height: 70%;
    margin-left: 1px;
    margin-top: 3px;
    margin-bottom: 2px;
}

header.smaller #selector_territorio {
    position: relative;
    padding-right: 0px;
    margin-left: 1px;
}

header.smaller #capa_texto_seleccion_territorio {
    position: relative;
    width: 177px;
    text-transform: uppercase;
}

header.smaller #capa_texto_seleccion_territorio p {
    font-size: 12px;
    color: #FFFFFF;
    width: 100%;
}

#eslogan {
    /*float: left;
    margin-bottom: 0;
    margin-left: 168px;
    margin-right: 0;
    margin-top: 5px;
    padding: 0;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/

    margin-bottom: 0;
    margin-right: 0;
    margin-top: 6px;
    padding: 0;
   
    margin-left: auto;
    margin-right: auto;
    width: 162px;
   
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

#selector_territorio {
    float: left;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 0;
    /*padding-right: 20px;*/
    margin-right: 0;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#texto_eslogan
{
    /*font-family: "Lato" !important;
    
    font-style: normal;
    font-weight: bolder;
    
    font-size: 36px;
    
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 0;
    padding: 0;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/


    
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    
    letter-spacing: 1.59px;
    word-spacing: 2px;
    margin: 0;
    padding: 0;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;


}

#menu_prinicpal {
    background-color: #FF6E2B;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto auto;
    height: 42px;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #FF6E2B;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#nav, #controlesCabecera {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
   
}

#controlesCabecera
{
    /*border: 1px solid #CCCCCC;*/
    height: 50px;
    /*background-color: #F7F7F7;*/
    
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/
}

#nav ul.Listado_menu {
    float: left;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    height: 100%;
}

#nav li.itemListado {
    background-attachment: scroll;
    background-clip: border-box;
    /*background-color: rgba(0, 0, 0, 0);*/
    /*background-image: url("imagenes/separador.png");*/
    /*background-color: blue;*/
    background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 2px;
    padding-top: 0;
}

    #nav li.itemListado a.navegacion:hover, #nav li.activePage a.navegacion, #nav li.activePage p.navegacion, #nav li.current a.navegacion, nav li.itemListado a.navegacionActiva:hover, #nav li.activePage a.navegacionActiva, #nav li.activePage p.navegacionActiva, #nav li.current a.navegacionActiva {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1.5px;
        border-top-right-radius: 1.5px;
        margin-top: 0;
        margin-bottom: 0;
        /*font-weight: bold;*/
        font-weight: 400;
    }

#nav li.activePage a.navegacion, li.activePage p.navegacion
{
    /*background-color: #B1B1B1;*/
    /*color: #FFFFFF;*/
}

#nav li.activePage a.navegacionActiva, li.activePage p.navegacionActiva {
    background-color: #FF6E2B;
    color: #FFFFFF;
    border-bottom: solid 4px #FFFFFF;
}

#nav li.activePage a.navegacion:hover, li.activePage p.navegacion:hover {
    /*background-color: #f7ede5;*/
    color: #FFFFFF;
    cursor: pointer;
}

a.enlace_pestanas_menu_cabecera {
    color: #f7ede5;
    text-decoration: none;
}

a.enlace_pestanas_menu_cabecera:hover {
    color: #FFFFFF;
}

a.enlace_estilo {
    color: #FF6E2B;
}

#nav li.itemListado a.navegacion, li.itemListado p.navegacion, #nav li.itemListado a.navegacionActiva, li.itemListado p.navegacionActiva {
    
    display: block;
    font-size: 20px;
    /*height: 36px;*/
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    position: relative;
    text-align: center;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    /*width: 140px;*/
}

.desplegable_territorios {
    background-attachment: scroll;
    background-clip: border-box;
    /*background-color: #FFFFFF;*/
    background-image: url("imagenes/icono_desplegar_abajo.png");
    background-size: 15px;
    background-origin: padding-box;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    color: #013f78;
    height: 29px;
    /*margin-bottom: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
    /*margin-top: 10px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    width: 240px;
    border: solid 2px #FFE9DF;
    /*padding: 5px;*/
    line-height: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.desplegable_territorios:hover {
    cursor: pointer;
}

.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}


.caja_texto_normal 
{    
    height: 23px;
    margin-left: 10px;
    margin-right: 10px;
    width: 230px;
}

#ImageButton_Borrar_Busqueda {
    height: 20px;
    margin-left: -40px;
    top: 5px;
    position: relative;
    display: none;
}

.texto_importante
{
    color:#FF6E2B;
    font-weight:normal;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}

.texto_importante_sinmargen
{
    color:#FF6E2B;
    font-weight:normal;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.invisible
{
    display: none;
}

.allLeyenda, .allTextoCortes, .allTexto {
    fill: #8A8985 !important;
}

.ancla, .ancla tr, .ancla td, .ancla a {
    border-style: none;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    height: 0px;
}

#capa_Seleccion_Territorios_Busqueda
{
    padding-top: 4px;
}

.box_rodeado {
    border: 2px solid #FFE9DF;
    float: right;
    /*cursor: pointer;*/
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
    /*background-color:antiquewhite;*/
}

.box_leyenda {
    margin-left: 5px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    position: absolute;
}

.box_limpio {
    margin: 1px;
    float: right;
    cursor: pointer;
    border: 2px solid transparent;
}

.box_rodeado:hover, .box_limpio:hover, box_leyenda:hover {
        border: 2px solid #FF6E2B;
        -moz-border-radius: 1.5px;
        border-radius: 1.5px;
    }

.box_limpio:hover
{
    /*margin: 0px;*/
}

.menu_opciones, .menu_listado_indice, .mas_informacion, .mas_informacion_servicio, .leyendas_visualizacion, .mas_informacion_grande {
    text-align: left;
    display: none;
    position: absolute;
    background-color: White;
    z-index: 99;
}

.menu_opciones
{
    margin-left: -116px;
}

.mas_informacion, .mas_informacion_grande
{
    margin-left: -360px;
}

.mas_informacion_servicio
{
    margin-left: 180px;
    margin-top: 14px;
}

.menu_opciones
{
    width: 150px;
}

.menu_listado_indice, .mas_informacion
{
    /*padding: 10px;*/
    width: 400px;
    height: 450px;
    padding-bottom: 10px;
    overflow: auto;
}

.mas_informacion_servicio
{
    width: 250px;
    height: 220px;
    padding-bottom: 10px;
    overflow: auto;
}

.mas_informacion_grande
{
    width: 400px;
    height: 270px;
    padding-bottom: 10px;
    overflow: auto;
}

    .menu_opciones h4, .menu_listado_indice h4, .mas_informacion h4, .mas_informacion_servicio h4, .leyendas_visualizacion h4, .mas_informacion_grande h4 {
        background-color: #E6E6E6;
        border-bottom-color: #e6e6e6;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: #e6e6e6;
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: #e6e6e6;
        border-right-style: solid;
        border-right-width: 1px;
        /*box-shadow: 0 0 10px 0 #ececec inset;*/
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        vertical-align: middle;
        -moz-border-top-left-radius: 1.5px;
        -moz-border-top-right-radius: 1.5px;
        border-top-left-radius: 1.5px;
        border-top-right-radius: 1.5px;
    }

.leyendas_visualizacion h5
{
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.menu_listado_indice h4, .mas_informacion h4, .mas_informacion_servicio h4, .mas_informacion_grande h4
{
    margin-bottom: 10px;
}

.menu_opciones ul, .menu_listado_indice ul, .mas_informacion ul, .mas_informacion_servicio ul, .mas_informacion_grande ul
{
    padding: 0;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    list-style-type: none;
}

.mas_informacion p, .mas_informacion_servicio p, .bloque_leyenda, .mas_informacion_grande p
{
    margin-left: 10px;
    margin-right: 10px;
}

.menu_opciones li, .menu_listado_indice li, .mas_informacion li, .mas_informacion_servicio li, .mas_informacion_grande li
{
    border: 1px solid #FFFFFF;
    vertical-align: middle;
    color: #666666;
    height: 100%;
    
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}

.menu_opciones li
{
    margin-top: 14px;
    margin-bottom: 14px;
    margin: 2px;
}


.menu_opciones a, .menu_listado_indice a, .mas_informacion a, .mas_informacion_servicio a, .mas_informacion_grande a
{
    text-decoration: none;
}


.bloque_activo:hover
{
    cursor: pointer;
}

.menu_opciones li:hover, .menu_listado_indice li:hover, .mas_informacion li:hover, .mas_informacion_servicio li:hover, .mas_informacion_grande li:hover {
    background-color: #FFE9DF;
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 1px;
    /*box-shadow: 0 0 10px 0 #FFE9DF inset;
    /*padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;*/
    color: #0099FF;
    /*background-color: #FF6E2B;*/
    border: 1px solid #f7ede5;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
}

.listado_indice_principal, .listado_indice_principal_categorias
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    
    background-color: #E5E5E5;
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 1px;
    
    color: #0099FF;
    font-weight: bold;
    
    border: 1px solid #CCCCCC;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
}

.listado_indice_principal_categorias
{
    background: url('imagenes/icono_desplegar_abajo.png') no-repeat;
    background-color: #E5E5E5;
    background-size: 15px;
    background-position: 99% center;
    font-weight: bold;
    height: 35px;
}

.listado_indice_multiple_linea
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    
    background-color: #FFE9DF;
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 1px;
    
    color: #0099FF;
    
    border: 1px solid #FFE9DF;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
}

.listado_indice_multiple_nivel1 {
    margin-left: 10px;
    padding-left: 15px;
    background-image: url("imagenes/listado.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
}

.listado_indice_nivel1
{
    margin-left: 10px;
    padding-left: 20px;
    background-image: url("imagenes/listado.gif");
    background-position: 10px center;
    background-repeat: no-repeat;
}

.icono_descarga
{
    width: 23px;
    height: 23px;
    margin-left: 3px;
    margin-right: 3px;
}

.iconos_menu_opciones
{
    width: 23px;
    height: 23px;
    /*margin-bottom: -6px;*/
    margin-right: 8px;
    margin-left: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    /*margin-bottom: 2px;*/
    
    vertical-align:middle;
}

.alineado_vertical
{
    vertical-align:middle;
}


#demo_drop1
{
    position: absolute;
}

.right
{
    text-align: right;
}


.anchor {
    display: block;
    position: relative;
    top: -70px;
    color: Lime;
    visibility: hidden;
}

.boton, .boton_pequeno {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #333333;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #333333;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #333333;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #333333;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: pointer;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 99;
}
.boton {
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
}
.boton_pequeno 
{
    padding-bottom: 7px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 7px;
}
.boton:hover, .boton_pequeno:hover {
    background-color: #dfdfdf;
}

#Panel_Cargando {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-bottom-color: #333333;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #333333;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #333333;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #333333;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 120px;
    margin-left: 45%;
    position: absolute;
    width: 150px;
    z-index: 9999;
}
#UpdateProgress1 {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
#capa_UpdateProgress1 {
    height: 100%;
    top: 0;
}
#UpdateProgress1 img {
    bottom: 0;
    height: 64px;
    left: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 64px;
}
#texto_cargando {
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 50%;
}

.boton_fondo_pdf {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("imagenes/servicios/icono_pdf.png");
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    float: left;
    font-size: 12px;
    height: 40px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 40px;
}
.boton_fondo_excel {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("imagenes/servicios/icono_excel.png");
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    float: left;
    font-size: 12px;
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 40px;
}

.texto_menu_seleccion {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 4px;
    
}

.caja_bloque_solucion
{
    float: left; 
    display: block;
    margin-left: 18px; 
    margin-right: 18px; 
    margin-bottom: 20px;
    width: 450px;
    height: 250px;    
}

.caja_controles_servicio
{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    /*padding-left: 20px;
    padding-right: 20px;*/
    
    width: 385px;
}

.caja_botones_servicio
{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 385px;
}

.caja_controles_formato_tiempo_servicio
{
    margin-left: auto;
    margin-right: auto;
    width: 385px;
}

.bloques_apilados_linea
{
    float: left;
    /*background-color: Yellow;*/
    height: 100px;
}

.bloque_servicio
{
    height: 50px;
}

.boton_margen_top
{
    margin-top: 40px;
}

.cabecera_servicios_derecha
{
    width: 92%;
    float: left;
    margin-top: 2px;
    padding-left: 5px;
    text-align: center;
}
.cabecera_servicios_izquierda
{
    width: 6%;
    float: left;
    text-align: center;
    cursor: pointer;
}

.boton_control_grande 
{
    width: 180px;
    margin-left: 10px;
    float: left;
}

.boton_control_grande select {
    /*background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;*/
    box-shadow: 0 0 10px #FFE9DF inset;
    /*height: 30px;
    margin: 0 0 0 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;*/
    width: 100%;
    height: 30px;
    margin: 8px 0;
    border: 0;
    border: 1px solid #f7ede5;
    
    background: #fff url('imagenes/icono_desplegar_lista.png') no-repeat;
    background-size: 20px;
    background-position:  right 00px center;
    padding-left: 10px;
    background-color: #FFE9DF;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 1.5px;
       -moz-border-radius: 1.5px;
            border-radius: 1.5px;
}

/* Perteneciente a la zona reducida*/

header.smaller 
{
    box-shadow: 0px 0px 70px 1px #888888;
    height: 63px; 
}

header.smaller .menu_listado_indice {
    top: 30px;
    margin-left: -348px;
}

header.smaller .mas_informacion, header.smaller .mas_informacion_grande {
    top: 30px;
}

    header.smaller #eslogan {
        /*margin-left: 16px;*/
        width: 200px;
        float: left;
        margin-bottom: 0;
        margin-left: 0px;
        margin-right: 0;
        margin-top: 20px;
        padding: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    header.smaller #texto_eslogan {
        font-size: 12px;
        letter-spacing: 0.5px;
        word-spacing: 0px;
    }

header.smaller #logotipo {
    float: left;
    width: 35px;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller #capa_seleccion_territorios
{
    height: 1px;
    float: left;
    margin-left: 350px;
    text-align: center;
    width: 42%;
}

header.smaller #capa_Seleccion_Territorios_Busqueda {
    padding-top: 0px;
}

header.smaller .box_rodeado {
    border: 2px solid #FFE9DF;
}

header.smaller .box_rodeado:hover {
    border: 2px solid #FFE9DF;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

header.smaller #nav li.itemListado a.navegacion:hover, header.smaller #nav li.activePage a.navegacion, header.smaller #nav li.activePage p.navegacion, header.smaller #nav li.current a.navegacion, header.smaller nav li.itemListado a.navegacionActiva:hover, header.smaller #nav li.activePage a.navegacionActiva, header.smaller #nav li.activePage p.navegacionActiva, header.smaller #nav li.current a.navegacionActiva {
    font-weight: 501;
}
header.smaller #nav li.itemListado a.navegacion, header.smaller li.itemListado p.navegacion, header.smaller #nav li.itemListado a.navegacionActiva, header.smaller li.itemListado p.navegacionActiva {
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

    header.smaller #nav li.activePage a.navegacionActiva, header.smaller li.activePage p.navegacionActiva {
        background-color: #FF6E2B;
        color: #FFFFFF;
        border-bottom: solid 2px #FFFFFF;
    }

header.smaller li.itemListado p.navegacion, #nav li.itemListado a.navegacion, header.smaller li.itemListado p.navegacionActiva, #nav li.itemListado a.navegacionActiva {
    display: block;
    font-size: 13px;
    font-weight: 400;
    /*padding-top: 1px;*/
    /*height: 36px;*/
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    position: relative;
    text-align: center;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

header.smaller #capa_seleccion_territorios {
    font-size: 11px !important;
}

header.smaller .desplegable_territorios {
    /* Zona del pie (Si está disponible) */
    height: 23px;
    width: 200px;
}

header.smaller .texto_importante {
    font-size: 11px;
}

#pie {
    background-position: 0 0;
    background: #FFFFFF none repeat scroll 0 0;
    height: 175px;
    padding-top: 10px;
    border-top: 1px dotted #CCCCCC;
    height: 75px;
}

#contenido_pie {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    text-align: center;
    margin-top: 15px;
}

#piecabecera_standards {
    width: 226px;
}

#piecabecera_contactomasdatos {
    width: 578px;
}

#piecabecera_redessociales {
    width: 150px;
}

#pie h4 {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 6px;
    padding: 10px 0 4px;
    text-transform: uppercase;
}

#piecabecera_standards ul.Listado_menu {
    float: left;
    list-style-type: none;
    margin: 2px 0 0;
    padding: 0;
    line-height: 20px;
}

#piecabecera_standards li.itemListado_normal {
    background: url("imagenes/separador_pequeno.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    float: left;
    padding: 0 2px;
}

#pie li {
    line-height: 18px;
}

.navextra li {
    border-bottom: 1px solid #808080;
}

p.navegacionActiva {
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    outline: medium none;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#pie a:link, #pie a:visited {
    color: #808080;
}
#pie a, #pie span {
    color: #808080;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
}

#tecnologia_cylstat {
    margin-left: 15px;
    margin-top: 10px;
}

.row [class^="span"] {
    display: inline;
    float: left;
    margin-left: 12px;
}

.navextra {
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

#lista_identif_contact_condic {
    line-height: 25px;
}

#lista_identif_contact_condic li {
    display: inline;
    list-style-type: none;
}

#lista_identif_contact_condic li a {
    background-color: #999999;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    height: 20px;
    margin: 5px;
    text-indent: -9999em;
    width: 20px;
}

.si-linkedin {
    background-image: url("imagenes/pie_portalestadistico/linkedin-20.png");
}
.si-facebook {
    background-image: url("imagenes/pie_portalestadistico/facebook-20.png");
}
.si-twitter {
    background-image: url("imagenes/pie_portalestadistico/twitter-20.png");
}
.si-youtube {
    background-image: url("imagenes/pie_portalestadistico/youtube-20.png");
}
.si-googleplus {
    background-image: url("imagenes/pie_portalestadistico/googleplus-20.png");
}
.si-slideshare {
    background-image: url("imagenes/pie_portalestadistico/slideshare-20.png");
}
.si-issuu {
    background-image: url("imagenes/pie_portalestadistico/issuu-20.png");
}
.si-blog {
    background-image: url("imagenes/pie_portalestadistico/blog-20.png");
}

.spanContacto {
    padding-left: 30%;
}

#piecabecera_standards li.itemListado_ultimo
{
    float: left;
}

#lista_identif_contact_condic {
    line-height: 25px;
    display: inline;
}

#lista_identif_contact_condic li {
    display: inline;
    list-style-type: none;
}

#lista_identif_contact_condic li a:hover {
    background-color: #525252;
}

.itemListado_normal {
    /*float: left;*/
    margin-top: 20px;
    padding: 0 10px 0 10px;
    background: url(imagenes/separador_pequeno.png) right center no-repeat;
}

.itemListado_ultimo 
{
    padding: 0 10px 0 10px;
    /*float: left;*/
}

.tablas_informativas td {
    padding: 2px;
    border: 1px solid #BDBCB6;
    border-radius: 1.5px 1.5px 1.5px 1.5px;
}

.bloque_contenedor_globo_emergente
{
    margin-right: 15px;
}

.resumen
{
    text-align: justify;
    margin: 10px 0 10px 0;
    /*line-height: 17px;*/
    /*letter-spacing: 1px;*/
}

.listado_ordenado_tipo1
{
    margin-right: 8px;
    padding-left: 20px;
}


/* * * * * * * *  RELATIVOS A LA ZONA DE BÚSQUEDA DE TERRITORIOS * * * * * * * * */
input[type=textaaa] 
{
    width: 30px;
}


/* When the input field gets focus, change its width to 100% */
 input[type=text]#TextBox_Nombre_Territorio:focus 
{
    padding: 6px 6px 6px 38px;
    cursor: text;
    color: #8A8985;
}

#capa_Literal_Territorio_Seleccionado
{
    box-sizing: border-box;
}

input[type=text]#TextBox_Nombre_Territorio {
    width: 30px;
    box-sizing: border-box;
    border: 2px solid #FFE9DF;
    border-radius: 1.5px;
    font-size: 16px;
    background-image: url('imagenes/paletas/10001/icono_buscar.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding: 6px 6px 6px 26px;
    margin-left: 5px;
    color: transparent;
    letter-spacing: 1.5px;
    cursor: pointer;
}

header.smaller input[type=text]#TextBox_Nombre_Territorio {
    font-size: 11px;
    background-position: 1px 1px;
    background-size: 24px 23px;
    padding: 4px 0px 6px 26px;
}

header.smaller input[type=text]#TextBox_Nombre_Territorio:focus {
    padding: 4px 6px 6px 38px;
}

#listPlacement1 {
    position: fixed !important;
    visibility: hidden;
}

#listPlacement1 div
{
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-image: url("imagenes/listado.gif");
    background-position: 10px center;
    background-repeat: no-repeat;
}

#listPlacement1 div:hover
{
    background-color: #fbfbfb;
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #e6e6e6;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #e6e6e6;
    border-right-style: solid;
    border-right-width: 1px;
    box-shadow: 0 0 10px 0 #FFE9DF inset;
    color: #0099FF;
    border: 1px solid #FFE9DF;
    -moz-border-radius: 1.5px;
    border-radius: 1.5px;
}

#listPlacement1 div .itemHighlighted 
{
    font-weight: bold;
}

.completionList {
    border:solid 1px Gray;
    margin:0px;
    padding:3px;
    height: 120px;
    overflow:auto;
    background-color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
} 

.listItem {
    background-color: White;
    color: #666666;
}

.itemHighlighted 
{
    background-color: #578910;
    color: White;
}
        
header.smaller #listPlacement1
{
    top: 43px !important;
}

.titulo_celda_administracion {
    background-color: #FFFFFF;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    -moz-border-bottom-left-radius: 1.5px;
    -moz-border-bottom-right-radius: 1.5px;
    -moz-border-bottom-right-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}